body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
}

.auth-card {
    background: #ffffff;
    padding: 120px 110px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

    .auth-card h2 {
        margin-bottom: 65px;
        color: #2c3e50;
        font-weight: 800;
    }

    .auth-card input, .auth-card select {
        width: 100%;
        padding: 17px 15px;
        margin: 10px 0 20px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 19px;
        outline: none;
        transition: 0.3s;
    }

        .auth-card input:focus, .auth-card select:focus {
            border-color: #3498db;
            box-shadow: 0 0 5px rgba(52,152,219,0.4);
        }

    .auth-card button {
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(90deg, #3498db, #2ecc71);
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }

        .auth-card button:hover {
            background: linear-gradient(90deg, #2ecc71, #3498db);
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }

    .auth-card select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3E%3Cpath fill='%23999' d='M1 1l6 6 6-6'/%3E%3C/svg%3E") no-repeat right 12px center;
        background-size: 12px;
        padding-right: 40px;
    }
